<div class="container">
    <div class="formulario">
        <form (ngSubmit)="guardar()" #forma="ngForm">
            <div class="option-1">
                <div class="titulos">
                    <label for="fmail">Correo Electrónico:</label>
                </div>
                <div>
                    <input type="email" id="fmail" placeholder="Correo Electrónico" class="mail" name="correo"
                        [(ngModel)]="person.email" required #correo="ngModel"
                        [class.is-invalid]="correo.invalid && correo.touched"
                        pattern="^(([^<>()\[\]\.,;:\s@\”]+(\.[^<>()\[\]\.,;:\s@\”]+)*)|(\”.+\”))@(([^<>()[\]\.,;:\s@\”]+\.)+[^<>()[\]\.,;:\s@\”]{2,})$">
                    <h3 class="text-danger" *ngIf="correo.invalid && correo.touched">
                        Ingrese un Correo Válido y seleccione la cantidad de tramites
                    </h3>
                </div>
            </div>
            <div class="option-1">
                <div class="titulos">
                    <label>Cantidad de Trámites:</label>
                </div>
                <div class="selection">
                    <select size="4" name="tramits" ngOnChanges="person.tramits" required
                        [class.is-invalid]="person.tramits == 0" (change)="onSelect($any($event.target).value)">
                        <option value="1">1) Uno.</option>
                        <option value="2">2) Dos.</option>
                        <option value="3">3) Tres.</option>
                        <option value="4">4) Cuatro.</option>
                        <option value="5">5) Cinco.</option>
                        <option value="6">6) Seis.</option>
                        <option value="7">7) Siete.</option>
                    </select>
                    <h3 class="text-danger" *ngIf="person.tramits == 0">
                        Ingrese un Correo Válido
                    </h3>
                </div>
            </div>
            <div class="option-1">
                <div class="titulos">
                    <label>Descripción:</label>
                </div>
                <div>
                    <textarea rows="5" name="description" id="fdescripcion" class="descripcion" ngModel required
                        maxlength="70" #description="ngModel" [(ngModel)]="person.description"
                        [class.is-invalid]="description.invalid && description.touched"
                        pattern="^[a-zA-ZñÑ\s]+$"></textarea>
                    <h3 class="text-danger" *ngIf="description.invalid && description.touched">
                        Ingrese caracteres validos en la descripción
                    </h3>
                </div>
            </div>
            <div class="choose">
                <button type="submit" class="btn" [disabled]="!forma.valid">Guardar</button>
            </div>
        </form>
    </div>
</div>